<h1>Sign up</h1>
<form action="/auth/signup" method="post">
    <form>
        E-mail:<br>
        <input type="text" name="email"><br><br>
        Name:<br>
        <input type="text" name="name"><br><br>
        Password:<br>
        <input type="password" name="password"><br><br>
        Password (one more time):<br>
        <input type="password" name="password2"><br><br>
        <button type="submit">Sign up</button>
        <button type="button">Google</button>
        <button type="button" onclick="location.href='/auth/github'">Github</button>
    </form>
</form>